*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.top{
    width: 100%;
    height: 230px;
   /* background-color: aqua;*/
    position: relative;
}
.danmu{
    width: 100%;
    height: 100px;
    /*background-color: #ff8f7f;*/
    margin-top: 10px;
}
.center{
    width: 100%;
    height: 230px;
    margin-top: 10px;
    background-color: #ECECF0;

}
.bottom{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: #EDEBEC;
}
.foot{
    width: 100%;
    height: 50px;
    background-color: #e25ddc;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
.video{
    width: 100%;
    height: 100%;
}
.left{
    width: 60%;
    height: 90%;
    /*background-color: blanchedalmond;*/
    margin-left: 20px;
    margin-top: 10px;
    float: left;

}
.right{
    width: 30%;
    height: 90%;
    /*background-color: blanchedalmond;*/
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}
.left1{
    width: 30%;
    height: 100%;
    /*background-color: blanchedalmond;*/
    margin-left: 3%;
    float: left;
    line-height: 60px;
}
.center1{
    width: 30%;
    height: 100%;
    /*background-color: blanchedalmond;*/
    margin-left: 2%;
    float: left;
    text-align: center;
    line-height: 60px;
}
.right1{
    width: 30%;
    height: 100%;
    /*background-color: blanchedalmond;*/
    margin-right: 3%;
    float: right;
}
.pic1{
    width: 100%;
    height: 100%;
}
.tx1{
    font-size: 30px;
    margin-left: 80px;
}
.tx2{

   margin: 20px 30px;
}
.danmu1{
    width: 70%;
    height: 40px;
}
.danmu2{
    color: coral;
}
.danmu3{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
}
.fasong{
    margin-left: 1%;
    width: 96%;
    height: 40px;
    margin-top: 5px;
   /* background-color: aquamarine;*/
    border-radius: 5px;
}
.buy{
    font-size: 20px;
    color: antiquewhite;

}
.lastbottom1{
    width: 100%;
    height: 60px;
    margin-top: 10px;
   /* background-color: #feb0ff;*/
}
.lastleft{
    width: 50%;
    height: 100%;
    float: left;
    line-height: 60px;
    text-align: center;
}
.lastright{
    width: 50%;
    height: 100%;
    float: left;
    line-height: 60px;
    text-align: center;
}
.want{
    width: 80%;
    height: 80%;
    /*background-color: #acafaa;*/
    border-radius: 5px;
}
.notwant{
    width: 80%;
    height: 80%;
  /*  background-color: #acafaa;*/
    border-radius: 5px;
}
.lastbottom2{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /*background-color: #feb0ff;*/
    text-align: center;
    line-height: 30px;
}
.lastbottom3{
    width: 100%;
    height: 160px;
    margin-top: 10px;
    /*background-color: #feb0ff;*/
    margin-bottom: 60px;
}
.pic01{
    width: 20%;
    height: 120px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.pic02{
    width: 100%;
    height: 100%;
}
.text1{
    width: 100%;
    height: 30px;
    line-height: 30px;

}
.text2{
    width: 30%;
    height: 100%;
    float: left;
 /*   background-color: #e25ddc;*/
}
.tx3{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.grade{
    font-size: 30px;
    color: yellow;
}
.star{
    width: 10%;
    height: 20px;
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}
.star01{
    width: 100%;
    height: 100%;
}
.text3{
    font-size: 20px;
    font-weight: bold;
}
.text4{
    font-size: 20px;
    font-weight: bold;

}
.text5{
    font-size: 15px;
    color: grey;
}
a{
    text-decoration: none;
}
.write{
    display: inline-block;
    position: absolute;
}
